
<mat-card>
  <div class="thumbArea">
    <div class="view overlay">
      <a>
          <img mat-card-img (click)="openDialog()" [src]="feedEntry.thumbnail" id="thumbnail">
      </a>
    </div>
  </div>

  <mat-card-content>

    <div class="cardHeader">
      <mat-card-title>
        {{feedEntry.title}}
      </mat-card-title>
      <span class="buttonGroup">
          <button mat-mini-fab (click)="share()"><mat-icon>share</mat-icon></button>
          <button mat-mini-fab (click)="delete()"><mat-icon>delete</mat-icon></button>
      </span>
    </div>

    <p>{{cardDescription | stripHtmlTags}}</p>

 

    <mat-card-subtitle>
      <div>
          <span class="subElements"> {{feedEntry.author}}</span>
          <span  class="subElements"> {{feedEntry.pubDate.toString() | timeAgo}}</span>     
      </div>
      
      <a>
          <strong (click)="openDialog()">Read more</strong>
          <mat-icon>double_arrow</mat-icon>
      </a>
    </mat-card-subtitle>

   
  </mat-card-content>
</mat-card>