/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Montserrat', sans-serif; }

$primary-color: #005097;
$secondary-color: #33B0E0;
$font-on-primary: white;