@import './../styles.scss';

.center {
    margin: auto;
}

.title {
  color: $font-on-primary;
  vertical-align: super;
}

#titleImage {
    height: 45px;
    margin-left: 8px;
}

.content {
  margin-top: 70px;
}
  
.buttonGroup {
  .mat-mini-fab 
  { 
    @include mini-fab;
  }

  .mat-icon {
    @include icon-color;
  }
}

.mat-toolbar {
  background: $primary-color;
}



// .searchBar {

//   input {
//     width: 90%;
//     border: none;
//     margin-left: 20pt;
//     padding-left: 10pt;
//   }

//   input.middle:focus {
//     outline-width: 0;
// }

//   .mat-toolbar {
//     background-color: lightgray !important;
//   }

//   .mat-icon {
//     color: darkgray;
//     padding-left:   5px;
//   }
// }



header{
  position: fixed;
  top: 0;
   z-index: 11;
  transition: all 250ms ease-in-out;
}
.main-header{
  @extend header;
  &.hidden{
    opacity: 0;
  }
}
.search-block{
  width: 0%;
  right: 0;
  @extend header;
  background: #fff;
  &.active{
    width: 100%;
  }
  .search-control{
    flex: 1;
    font-size: 1rem;
    border: 0;
    outline: none;
    padding-left: 10px;
  }
}