<mat-toolbar>
  <span class="center">
      <span class="title"> 
          NETZ
        </span>
        <img #titleImage  [src]="logo">
  </span>

  <span class="buttonGroup">
    <!-- <input matInput search> -->
    <button mat-mini-fab (click)="refresh()" *ngIf="!spinnerState">
        <mat-icon>refresh</mat-icon>
    </button>
    <button mat-mini-fab class="btn" type="button" disabled  *ngIf="spinnerState">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <span class="sr-only">Loading...</span>
    </button>
<!-- 
    <button mat-mini-fab class="btn" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <span class="sr-only">Loading...</span>
    </button> -->

    <button *ngIf="feed" mat-mini-fab disabled  >
      <mat-icon [matTooltip]="feed.feed.description">info</mat-icon>
    </button>

  </span>
</mat-toolbar>


 <span *ngIf="feed">
   <div class="loading-dots" *ngIf="spinnerState"> 
     <h1 class="dot one">.</h1><h1 class="dot two">.</h1><h1 class="dot three">.</h1>
   </div>
    <span *ngFor="let card of cards ">
        <app-card [cardContent]="card"></app-card>
    </span>
 </span> 

<div *ngIf="feedContent$ | async">
</div>
