<mat-toolbar>
  <span class="center">
      <span class="title"> 
          NETZ
        </span>
        <img #titleImage  [src]="logo">
  </span>

  <span class="buttonGroup">
    <mat-icon (click)="refresh()">refresh</mat-icon>
    <mat-icon *ngIf="feed" [matTooltip]="feed.feed.description" aria-label="Icon that displays a tooltip with info on this news feed" >info</mat-icon>
  </span>
</mat-toolbar>


 <span *ngIf="feed">
    <span *ngFor="let card of cards">
        <app-card [cardContent]="card"></app-card>
    </span>
 </span> 

<div *ngIf="feedContent$ | async">
</div>

<!-- <app-feed-card *ngFor="let feed of feeds" [feed]="feed" ></app-feed-card> -->
<!-- <app-spinner *ngIf="!feeds.length"></app-spinner> -->