
<mat-card>
  <div class="thumbArea">
    <div class="view overlay">
      <a>
          <img mat-card-img (click)="openDialog()" [src]="cardContent.thumbnail" id="thumbnail">
      </a>
    </div>
  </div>

  <mat-card-content>

    <div class="cardHeader">
      <mat-card-title>{{cardContent.title}}
        <!-- <h4></h4> -->
      </mat-card-title>
     <button mat-mini-fab (click)="share()"><mat-icon>share</mat-icon></button>
    </div>

    <p>{{cardDescription | stripHtmlTags}}</p>

 

    <mat-card-subtitle>
      <div>
          <span class="subElements"> {{cardContent.author}}</span>
          <span  class="subElements"> {{cardContent.pubDate | dateAgo}}</span>     
      </div>
      
      <a>
          <strong (click)="openDialog()">Read more</strong>
          <mat-icon>double_arrow</mat-icon>
      </a>
    </mat-card-subtitle>

   
  </mat-card-content>
</mat-card>