<!-- <mat-card-title>{{cardContent.title}}</mat-card-title>
<mat-card-subtitle>{{cardContent.author}}</mat-card-subtitle>
<mat-card-content>{{cardContent.description}}</mat-card-content>
<div width ="300px">
<img mat-card-image src="">
</div>	Card image. Stretches the image to the container width
<mat-card-actions><mat-icon (click)="delete()">delete</mat-icon></mat-card-actions>	Container for buttons at the bottom of the card
<mat-card-footer>{{cardContent.pubDate}}</mat-card-footer> -->

<mat-card>
  <div class="thumbArea">
    <div class="view overlay">
      <a  (click)="openDialog()">
          <img mat-card-img [src]="cardContent.thumbnail" id="thumbnail">
      </a>
    </div>
  </div>

  <mat-card-content>

    <div class="cardHeader">
      <mat-card-title>{{cardContent.title}}
        <!-- <h4></h4> -->
      </mat-card-title>
     <button mat-mini-fab (click)="share()"><mat-icon>share</mat-icon></button>
    </div>

    <p>{{cardDescription | stripHtmlTags}}</p>

 

    <mat-card-subtitle>
      <div>
          <span class="subElements"> {{cardContent.author}}</span>
          <span  class="subElements"> {{cardContent.pubDate | dateAgo}}</span>     
      </div>
      
      <a>
          <strong (click)="openDialog()">Read more</strong>
          <mat-icon>double_arrow</mat-icon>
      </a>
    </mat-card-subtitle>

   
  </mat-card-content>
</mat-card>