<!-- <mat-card-title>{{cardContent.title}}</mat-card-title>
<mat-card-subtitle>{{cardContent.author}}</mat-card-subtitle>
<mat-card-content>{{cardContent.description}}</mat-card-content>
<div width ="300px">
<img mat-card-image src="">
</div>	Card image. Stretches the image to the container width
<mat-card-actions><mat-icon (click)="delete()">delete</mat-icon></mat-card-actions>	Container for buttons at the bottom of the card
<mat-card-footer>{{cardContent.pubDate}}</mat-card-footer> -->

<mat-card>
  <div class="thumbArea">
    <div class="view overlay">
      <img mat-card-img [src]="cardContent.thumbnail" id="thumbnail" (click)="openDialog()">
    </div>
  </div>

  <mat-card-content>

    <div class="cardHeader">
      <mat-card-title>
        <h4>{{cardContent.title}}</h4>
      </mat-card-title>
      <mat-icon>share</mat-icon>
    </div>

    <p>{{cardContent.description | stripHtmlTags}}</p>

    <hr>

    <mat-card-subtitle>
      <span> {{cardContent.author}}</span>
      <span> {{cardContent.pubDate | dateAgo}}</span>
    </mat-card-subtitle>

    <button mat-button (click)="openDialog()">Read more <mat-icon>chevron_right</mat-icon>
    </button>
  </mat-card-content>
</mat-card>